<strong>Seja bem vindo {{ student }} !</strong>
<p>Sua matrícula na Gympoint foi concluida, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br>
  <strong>Preço do plano: </strong> {{ price }} <br>
  <strong>Você está matriculado até: </strong> {{ end_date }} <br>
  <br>
  <small>
    Caso alguma informação não esteja correta, favor entrar em contato conosco.
  </small>
</p>
